<!-- me -->
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="front">
      <h1 class="display-3">Hi, I'm Bidhan Gupta</h1>
      <h3 class="display-4">Full stack Developer</h3>
      <p>I’m a Full stack developer in love with Coding, music and discovering new worlds and cultures.</p>
    </div>
    <mat-list class="d-flex social">
      <mat-list-item class="social"><a href="https://www.instagram.com/bids4u/?hl=en" target="_blank" class="fa fa-twitter"></a></mat-list-item>
      <mat-list-item class="social"><a href="https://twitter.com/bidhangupta2" target="_blank" class="fa fa-facebook"></a></mat-list-item>
      <mat-list-item class="social"><a href="https://www.facebook.com/" target="_blank" class="fa fa-instagram"></a></mat-list-item>
    </mat-list>
    <br><br>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <img class="img-fluid shadow" src="./../../../assets/images/prof.jpeg" alt="my img">
    <br><br>
  </div>

</div>

<br><br>

<!-- Education -->
<h3 style="padding-left:7%">Education</h3>
<br><br>
<div class="edc shadow-sm">
<h1 class="display-4">2021</h1>
<h3>B.Tech IT</h3>
<h5>PUNJAB TECHNICAL UNIVERSITY</h5>
<p>It was wonderful experience learning in beautiful city of Amritsar where most of our course was practical bassed with a project for each practical. We made some awesome memories and projects too. We had a interesting subject's to study from all of IT field.</p>
</div>

<div class="edc shadow-sm">
  <h1 class="display-4">2017</h1>
  <h3>+2</h3>
  <h5>KENDRIYA VIDYALAYA KATHMANDU</h5>
  <p>Schooling is mostly about memories and some education too and made our first value with a great knowledge. I have a big respect for all those teacher's who taught us.</p>
  </div>

  <!-- contact -->
 <br><br>
 <h3 class="text-center display-3">Contact Us</h3>

 <div class="contact shadow-sm text-center">
<p >bidhanbabu69@gmail.com</p>
<p>kathauna, shambhunath, saptari</p>
 </div>
